#controlCenter {
    border: 5px solid rgb(249, 249, 249, 0.5);
    // background-color: rgba(140, 0, 255, 0.2);
    border-radius: 10px;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // transform: translateX(-4rem);
    transition: all 1s ease;
    opacity: 0.3;

   // backdrop-filter: blur(15px);

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    .btn{
        width: fit-content;
        color: red;
    }

    &:hover {
        
        // transform: translateX(-1rem);
        opacity: 1;
        
    }


}


#controlCenter div {

    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

#controlCenter button {
    width: 100px;
    padding: 3px;
    box-shadow: 2px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 6px 15px -3px rgba(0, 0, 0, 0.1);
}

.btnStyle {
    color: white;
    background-color: rgb(15, 15, 15, 0);
}